# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands-on practice creating and using lambda functions.

## Objectives
In this lab you will: 
* Create lambda functions to use as arguments of other functions   
* Use the `.map()` or `.apply()` method to apply a function to a pandas series or DataFrame

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple arithmetic

Use a lambda function to create a new column called `'stars_squared'` by squaring the stars column.

In [3]:
# Your code here
df['stars_squared'] = df['stars'].map(lambda x: x**2)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1

## Dates
Select the month from the date string using a lambda function.

In [32]:
# Your code here
month = df['date'].map(lambda x: x.split("-")[1])

## What is the average number of words for a yelp review?
Do this with a single line of code!

In [46]:
# Your code here
review_words = df['text'].map(lambda x: len(x.split()))
print(review_words.mean())

77.06551724137931

1        58
2        30
4        30
5        82
10       32
11       49
12       21
19       70
25      131
26      112
27       19
28       28
29       20
30       15
31       28
32       31
35       31
40       49
41       26
42       47
74       85
79      120
83       28
92       32
95       37
102     122
172      51
179      42
180      80
182      79
       ...
1992     32
2934     19
3307     85
1808    117
4811     72
1465     22
3506     31
2799     48
3126     95
1424     60
541      89
1668     25
1655     39
2775     22
404      46
2914    141
506      24
4198    148
121     589
3225    122
4674     11
4719     48
3440    133
4812     37
1970    128
689      61
4874     43
564      79
3458    185
4206     42
Name: text, Length: 2610, dtype: int64

## Create a new column for the number of words in the review

In [45]:
# Your code here
df['num_of_words_in_review'] = review_words
df['num_of_words_in_review'].head(3)

1    58
2    30
4    30
Name: num_of_words_in_review, dtype: int64

## Rewrite the following as a lambda function

Create a new column `'Review_Length'` by applying this lambda function to the `'Review_num_words'` column.

In [57]:
# Rewrite the following function as a lambda function
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
# Hint: nest your if, else conditionals

df['Review_length'] = df['num_of_words_in_review'].map(lambda x: 'Short' if x < 50 else ('Medium' if x < 80 else 'Long'))
df['Review_length']

1       Medium
2        Short
4        Short
5         Long
10       Short
11       Short
12       Short
19      Medium
25        Long
26        Long
27       Short
28       Short
29       Short
30       Short
31       Short
32       Short
35       Short
40       Short
41       Short
42       Short
74        Long
79        Long
83       Short
92       Short
95       Short
102       Long
172     Medium
179      Short
180       Long
182     Medium
         ...
1992     Short
2934     Short
3307      Long
1808      Long
4811    Medium
1465     Short
3506     Short
2799     Short
3126      Long
1424    Medium
541       Long
1668     Short
1655     Short
2775     Short
404      Short
2914      Long
506      Short
4198      Long
121       Long
3225      Long
4674     Short
4719     Short
3440      Long
4812     Short
1970      Long
689     Medium
4874     Short
564     Medium
3458      Long
4206     Short
Name: Review_length, Length: 2610, dtype: object

## Level Up: Dates Advanced!
<img src="images/world_map.png" width="600">  

Print the first five rows of the `'date'` column.

In [81]:
# Your code here
print(df['date'][:5])

1     2012-11-13
2     2014-10-23
4     2014-09-05
5     2011-02-25
10    2016-06-15
Name: date, dtype: object

Overwrite the `'date'` column by reordering the month and day from `YYYY-MM-DD` to `DD-MM-YYYY`. Try to do this using a lambda function.

In [82]:
# Your code here
#month = df['date'].map(lambda x: x.split("-")[1])
date = df['date'].map(lambda x: x.split("-"))


df['date'] = date.map(lambda x: f'{x[2]}-{x[1]}-{x[0]}')
df['date'].head()

1     13-11-2012
2     23-10-2014
4     05-09-2014
5     25-02-2011
10    15-06-2016
Name: date, dtype: object

## Summary

Great! Hopefully, you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.